#shirtpic {
    height: 12rem;

}

#container {
    display: flex;
    gap: 4rem;

}

/* #carti {
    color: rgb(0, 0, 0);
    position: relative;

} */

#cart {
    transform: scale(2);
    margin-top: 6rem;
    margin-left: 1rem;
    cursor: pointer;
}

#counter {transform: scale(max-content);
    font-size: 8px;
    background: 5px yellow;
    border-radius:5px;
    height: max-content;
    width: max-content;
    /* border: 1px solid rgb(0, 0, 0); */
    position: absolute;
    top: -2px;
    left: 16px;
}
#addtocart{
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

}
#remove{
     border-radius: 5px;
    background: transparent;
    cursor: pointer;
}